services:
  remark:
    # Uncomment the next line if you want to build the Docker image locally
    # build: .

    image: umputun/remark42:latest
    container_name: "remark42"
    hostname: "remark42"
    restart: always

    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "5"

    # Uncomment to expose directly (no proxy)
    ports:
      - "8080:8080"
    # Uncomment to expose to reverse proxy running on the same host but not in Docker
    # ports:
    #   - "127.0.0.1:8080:8080"

    environment:
      - REMARK_URL=http://54.81.103.167:8080
      - SECRET=pw1111
      - DEBUG=true
      - AUTH_ANON=true # Allow anonymous user
      - ANON_VOTE=true
      - VOTES_IP=true
      # Add valid OAuth credentials
      - AUTH_GOOGLE_CID
      - AUTH_GOOGLE_CSEC
      - AUTH_GITHUB_CID
      - AUTH_GITHUB_CSEC
      - AUTH_FACEBOOK_CID
      - AUTH_FACEBOOK_CSEC
      # Uncomment to enable admin password for backups or imports
      # - ADMIN_PASSWD=your-admin-password

    volumes:
      - ./var:/srv/var
      - ./custom_web:/srv/web
